.TypeChecker {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TypeChecker .Landing {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.TypeChecker .Landing .innerContent {
  width: 100%;
  height: 300px;
  border: 1px dashed #353535b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.TypeChecker .Landing .innerContent .dropinfo {
  position: absolute;
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.993);
  bottom: 20%;
}

.TypeChecker .Landing .innerContent .InputBox {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #18dcff;
  border-radius: 6px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.TypeChecker .Landing .innerContent .InputBox .Button {
  width: 100%;
  height: 100%;
}

.TypeChecker .Landing .innerContent .InputBox .Button .InputButton {
  width: 200px;
  height: 50px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  font-size: 18px;
  color: #353535;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.TypeChecker .Landing .innerContent .InputBox .Button .InputButton:hover {
  border: 1px solid white;
  background: #18dcff;
  color: white;
  cursor: pointer;
}

.TypeChecker .Landing .innerContent .Information {
  margin-top: 5%;
  color: white;
  font-size: 16px;
}

.TypeChecker .Workspace {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.TypeChecker .Workspace .Details {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: white;
  padding-left: 5%;
  border-radius: 10px;
}

.TypeChecker .Workspace .Details .detail {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.TypeChecker .Workspace .Details .detail label {
  color: #353535;
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: lighter;
  font-size: 16px;
  text-align: left;
}

.TypeChecker .Workspace .Details .detail p {
  color: #353535;
  width: 70%;
  padding-left: 2%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14px;
  text-align: left;
}

.TypeChecker .Workspace .Details .QuestionIcon {
  width: 24px;
  height: 24px;
  -o-object-fit: contain;
     object-fit: contain;
  cursor: pointer;
  position: absolute;
  right: 2%;
}

.TypeChecker .Workspace .Details .MoreTypeDetails {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 5%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  background: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.TypeChecker .Workspace .Details .MoreTypeDetails #extensionText, .TypeChecker .Workspace .Details .MoreTypeDetails #mimeText {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
}

.TypeChecker .Workspace .Details .QuestionIcon:hover + .MoreTypeDetails {
  display: inherit;
}

.logo-height, .feature-card-img {
  width: 30px;
  height: 30px;
}
/*# sourceMappingURL=styles.css.map */